
test.lrc
test2.srt
test3.txt
test4.lrc
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/Swapsub-core.iml
.idea/vcs.xml
simple.txt
dist/*
build/*
swapsub.egg-info/*
.idea/dictionaries/abc.xml
